.hero {
  display: flex;
  @media (max-width: 1024px) {
    flex-direction: column;
  }
  margin-top: 20px;
  .hero-blue {
    flex: 1;
    background-color: rgba(248, 247, 247, 0.918);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    span {
      @media (max-width: 768px) {
        display: none;
      }
    }
    .call-to-action {
      margin-top: 10px;
      margin-bottom: 10px;
      a {
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
    .social-links {
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .hero-yellow {
    flex: 1;
    background-color: rgba(68, 67, 64, 0.856);
    border-radius: 30px;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    img {
      margin-top: -30px;
      max-width: 600px;
      margin-bottom: -10px;
    }
  }
}
