.hero {
  display: flex;
  @media (max-width: 1024px) {
    flex-direction: column;
  }
  margin-top: 20px;
  .hero-blue {
    flex: 1;
    background-color: rgba(248, 247, 247, 0.918);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    span {
      @media (max-width: 768px) {
        display: none;
      }
    }
    .call-to-action {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: 1.5rem;
      margin-top: 10px;
      margin-bottom: 10px;
      a {
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }

    .call-to-action button:nth-child(1) {
      padding: 0.5rem 2rem;
      outline: none;
      border: none;
      background-color: black;
      color: white;
      border-radius: 30px 10px;
      cursor: pointer;
    }

    .call-to-action button:nth-child(2) {
      padding: 0.5rem 2rem;
      outline: none;
      border: none;
      background-color: black;
      color: white;
      border-radius: 30px 10px;
      cursor: pointer;
    }

    .social-links {
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .hero-yellow {
    flex: 1;
    background-color: #3e95b8;
    border-radius: 30px;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    img {
      margin-top: -30px;
      max-width: 600px;
      margin-bottom: -10px;
    }
  }
}
