/* skills.css */
.skills {
  .holder-blue {
    background-color: var(--yellow-100);
    border-radius: 30px;
    padding: 30px;
    display: flex;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
    .left-column {
      flex: 1;
      ul {
        list-style-type: none;
        gap: 10px;
        margin-right: 100px;
        margin-bottom: 20px;
        li {
          display: inline-block;
          background-color: rgba(187, 136, 33, 0.856);
          padding: 10px 20px;
          border-radius: 15px;
          margin-bottom: 20px;
        }
      }
    }
    .right-column {
      flex: 1;
      p {
        margin-bottom: 20px;
      }
    }
  }
}