*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --base: #555;
  --base-100: #f1f1f1;
  --base-400: #555;
  --base-800: #000000;
  --yellow: #ffda4b;
  --yellow-100: #fffbe6;
  --yellow-400: #ffda4b;
  --yellow-800: #8b6f00;
  --blue: #0a61ae;
  --blue-100: #e2f8ff;
  --blue-400: #61dafb;
  --blue-800: #0a61ae;
  --light-bg: #d8dbe0;
  --dark-bg: #28292c;
  --light-text: #28292c;
  --dark-text: #d8dbe0;
  --icon-color: #000;
  --icon-color-dark: #fff;
}

a {
  text-decoration: none;
  color: var(--blue);
  &:hover {
    text-decoration: underline;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  position: relative;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
  padding-bottom: 1000px;
}

.container {
  max-width: 1440px;
  margin: auto;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.button {
  display: inline-block;
  padding: 10px 30px;
  background-color: var(--base-400);
  color: var(--base-100);
  border-radius: 10px;
  transition: ease 0.3s all;
  &:hover {
    text-decoration: none;
    background-color: var(--base-800);
  }
  &.white {
    background-color: white;
    color: var(--base-800);
    &:hover {
      background-color: var(--base-100);
      color: var(--blue);
    }
  }
  &.black {
    background-color: rgb(0, 0, 0);
    color: white;
    &:hover {
      color: var(--base-100);
    }
  }
}
h1 {
  font-size: 64px;
  line-height: 1;
  small {
    display: block;
    font-weight: 100;
  }
  @media (max-width: 1024px) {
    font-size: 48px;
  }
}

h2 {
  font-size: 64px;
  line-height: 1;
  margin-bottom: 10px;
  text-align: center;
  padding: 30px;
  small {
    display: block;
    font-weight: 100;
    font-size: 0.5em;
    color: var(--base);
  }
  @media (max-width: 1024px) {
    font-size: 48px;
  }
}

h3 {
  font-size: 32px;
  line-height: 600;
  line-height: 1;
  margin-bottom: 20px;
  color: var(--base-800);
}
